swagger: '2.0'
info:
  title: 'Customer Management API'
  description: 'API for managing customer accounts'
  version: '1.0.0'


host: http://127.0.0.1:5000
schemes:
  - 'http'
consumes:
  - 'application/json'
produces:
  - 'application/json'

securityDefinitions:
  bearerAuth:
    type: apiKey
    name: Authorization
    in: header

paths:

  /customers/login:
  