name: Flask CICD
on: #trigger whenever there is a push to main or master branch
  push:
    branches: [main, master]

jobs: #The actions to be performed
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
      
    - name: create Virtual Environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Print debugging information
      run: |
        echo "Python Version: $(python --version)"
        echo "Working Directory: $(pwd)"
        echo "Contents of Working Directory: $(ls -la)"
        echo "Contents of site-packages: $(ls -la venv/lib/python3.12/site-packages)"

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
      
    - name: create Virtual Environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .
        
    - name: Print debugging information
      run: |
        echo "Python Version: $(python --version)"
        echo "Working Directory: $(pwd)"
        echo "Contents of Working Directory: $(ls -la)"
        echo "Contents of site-packages: $(ls -la venv/lib/python3.12/site-packages)"
      
    - name: Run Tests
      run: |
        source venv/bin/activate
        python -m unittest discover -s tests -p "test_*.py"
